<!DOCTYPE html>
<html>
    <body>
        <div align="left" style="background:url('http://localhost:8082/resources/imagenes/carnet_frontal.JPG'); width: 463px; height: 710px; font-weight: bold;font-family: Arial;color: #111;font-size: 25px;">
            <div style="padding-top: 300px; width: 100%; text-align: center;">
				<div style="margin-left: 33.5%; width: 34%; text-align: center;border: 2px aolid #111;">
					<img src="http://localhost:8082/resources/imagenes/t2.jpg" width="175" />
				</div>
            </div>
			<div style="padding-top: 80px; width: 100%; text-align: center;">
                Andres Felipe Rojas Garzon
            </div>
			<div style="padding-left: 15px; padding-top: 6px; width: 100%; text-align: center;">
                1055558999
            </div>
        </div>
		<div align="left" style="background:url('http://localhost:8082/resources/imagenes/carnet_atras.JPG'); margin-top:15px; width: 463px; height: 710px; font-family: Arial;color: #111;font-size: 21px;">
            
        </div>
    </body>
</html>
