<!DOCTYPE html>
<html>
    <body>
        <div align="left" style="font-family: Arial;color: #111;font-size: 11px;">
            <img src="http://localhost:8082/resources/imagenes/logo.png" width="220" height="70" alt=""/>
            <div style="margin-left: 30px;margin-top: 20px; width: 100%; text-align: center;">
                 <font size="6">A QUIEN LE INTERESE</font>
            </div>
            <div style="margin-left: 30px;margin-top: 50px; width: 90%; text-align: justify;">
                El (la) Se&ntilde;or(a) <b>Jorge Rojas</b> quien se identifica con c&eacute;dula de ciudadan&iacute;a 
                n&uacute;mero <b>111</b> se encuentra afiliado (a) como titular desde <b>10/10/2015</b> al
                Plan, el cual tiene una vigencia actual, tiene registrados los siguientes beneficiarios:
                <br/><br/>
                <div style="width: 100%;text-align: center;font-weight: bold;">
                GRUPO B&Aacute;SICO FAMILIAR
                </div>
                <br/>
                <table cellpadding="0" cellspacing="0" style="width: 100%;font-size: 9px;">
                <tr style="font-weight: bold; text-align: center;">
                <td style="border: 1px solid #111;">Beneficiarios Activos</td>
                <td style="border: 1px solid #111;">Parentesco</td>
                <td style="border: 1px solid #111;">Fecha Inicio</td>
                </tr>
                <tr>                                            
                <td style="border: 0.5px solid #111;padding: 2px;">{0}</td>
                <td style="border: 0.5px solid #111;padding: 2px;">TITULAR</td>
                <td style="border: 0.5px solid #111;padding: 2px;">{2}</td>
                </tr>
                </table>
                <br/><br/>
                Se expide a solicitud del interesado en Bogot&aacute;, D.C. El 09 de noviembre de 2019
            </div>
        </div>
    </body>
</html>
